
@{
    ViewData["Title"] = "Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Authors</h1>
<h1 style="color:green"> Lista De Autores </h1>
<hr style="color: #0056b2;" />

<br />
<div class="row ml-1">
    <a href="ComprarLibro" class="btn btn-info ml-3"> Comprar</a>

</div>
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Nacimiento</th>
            <th>Nacionalidad</th>
            <th>Muerte</th>
            <th>Libros Escritos</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Juan Emilio</td>
            <td>Bosch Gaviño</td>
            <td>92</td>
            <td>30-06-1909</td>
            <td>Dominicano</td>
            <td>01-11-2001</td>
            <td>20</td>
            <td>
                <button type="button" class="btn btn-success">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


