@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <img src="~/historial.jpg" style="width: 100%;" />
</div>

<div class="row">
    <div class="card col-md-6">
        <div class="card-header">
            Venta de hoy
        </div>
        <div class="card-body">
            26 libros vendidos
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-header">
            Venta de hoy
        </div>
        <div class="card-body">
            26 libros vendidos
        </div>
    </div>
</div>


